*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #141922;
    --secondary-color: #080b12;
    --bar-color: #000;
    --footer-color: #262626;

    /*text color*/
    --primary-text: #fefefe;
    --secondary-text: #717171;
}

body{
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
}

.btn{
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--primary-text);
    border:1px solid var(--primary-text);
    border-radius: 17px;
    padding: 0.5rem 2rem;
    margin-right: 20px;
}
/*Inizio regole renerali*/
img{
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.justify-content{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.column-dr{
    flex-direction: column;
}

.mtop-bot{
    margin: 2rem 0;
}

.mbot{
    margin-bottom: 1rem;
}

.padding-text{
    padding: 0 1rem;
}

.color-white{
    color: var(--primary-text);
}

.color-sec{
    color: var(--secondary-text);
}

/*Fine regole renerali*/


/*Inizio Main*/
.container-main{
    height: calc( 100vh - 100px );
}

.main-content{
    background-color: var(--primary-color);
    width: calc( 100% - 250px );
    height: calc( 100vh - 100px );
}

.main-topbar{
    height: 70px;
    width: calc( 100% - 250px );
    background-color: var(--secondary-color);
    text-align: right;
    opacity: 0.7;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;

}

.side-top .logo-mobile{
    display: none;
}

.btn-principali{
    width: 13%;
    color: var(--secondary-text);
}

.btn-principali span{
    position: absolute;
}

 /*sidebar*/
 .side-bar{
    background-color: var(--bar-color);
    color: var(--primary-text);
    height: 100%;
    width: 250px;
    flex-shrink: 0;
    padding: 20px 20px 0px 20px;
    flex-direction: column;
    line-height: 1.8rem;
}

.side-top{
    height: calc(100% - 100px);
    width: 100%;
}

.side-bot{
    height: 100px;
    width: 100%;
}

.side-bot .profilo{
    height: 100%;
    background-color: var(--bar-color);
}

.container-main .side-bar .logo{
    width: 70%;
}

.container-main .side-bar i{
    margin-right: 0.5rem;
}

.container-main .side-bar li{
    color: var(--secondary-text);
}


/*content*/
.main-content .scritte-top{
    color: var(--secondary-text);
    margin-top: 70px;
}

.container-section{
    color: var(--primary-text);
    padding: 2rem;
    height: calc( 100vh - 100px);
    overflow-y: auto;
    flex-wrap: wrap;
}

.main-content .scritte-top span{
    padding: 0 1rem;
    font-weight:bold; 
    font-size: 0.8rem;
}

.recenti .card, 
.creato .card, 
.artisti .card{
    width: calc( ( 100% / 6 ) - 2rem );
    margin-right: 2rem;
}

.recenti span,
.creato  span,
.artisti span{
    color: var(--secondary-text);
}

.artisti img{
    border-radius: 50%;
}

section .text{
    text-align: center;
}
/*Fine Main*/




/*Inizio footer*/
footer{
    height: 100px;
    background-color: var(--footer-color);
    position: sticky;
    z-index: 999;
    bottom: 0;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .img{
    width: 50px;
}

footer i{
    color: white;
    font-size: 20px;
    padding: 1rem;
}

footer .left .text{
    font-size: 0.8rem;
}

footer .left i{
    padding: 0.5rem;
}

footer .right i{
    font-size: 13px;
    padding: 2px;
}

footer .right{
    text-align: right;
} 

.center .down{
    background-color: var(--secondary-text);
    width: 100%;
    height: 4px;
    border-radius: 10px;
    position: relative;
}

.center .down .in-down{
    background-color: var(--primary-text);
    height: 4px;
    position: absolute;
    width: 40%;
}

.down .in-down .cerchio{
    height: 15px;
    width: 15px;
    position: absolute;
    background-color: var(--primary-text);
    border-radius: 50%;
    bottom: -5.9px;
    left: 100%;
    display: none;
}

.center .top i{
    font-size: 20px;
}
/*Fine footer*/





/*gestione Hover*/
.btn:hover{
    transform: scale(1.1);
}

.center .down:hover .in-down{
    background-color: green;
}

.center .down:hover .cerchio{
    display: block;
}

.playlist li:hover,
.btn-principali span:hover,
.scritte-top span:hover {
    color: var(--primary-text);
}



/*inizio gestione hover img*/
.img{
    position: relative;
}

.layover{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.blayover{
    border-radius: 50%;
}

.layover i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50% , -50% );
    font-size: 50px;
}

.img:hover .layover{
    display: block;
}
/*fine gestione hover img*/























/*Media*/

/*Primo Break*/
@media screen and (max-width: 992px){
    .recenti .card, 
    .creato .card, 
    .artisti .card{
        width: calc( ( 100% / 4 ) - 2rem );
        margin-right: 2rem;
    }

    .recenti .card-container{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
}




/*Secondo Break*/

@media screen and (max-width: 768px){
    .recenti .card, 
    .creato .card, 
    .artisti .card{
        width: calc( ( 100% / 2 ) - 2rem );
        margin-right: 2rem;
    }

    .recenti .card-container{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}



/*Terzo Break*/
@media screen and (max-width: 576px){
    .side-bar .logo, 
    .side-bar .playlist, 
    .side-bot{
        display: none;
    }

    .btn-principali span{
        display: none;
    }

    .btn-principali img{
        width: 30px
    }

    .side-top .logo-mobile{
        display: block;
        width: 30px;
    }


    .side-bar{
        width: 70px;
    }

    .main-content{
        background-color: var(--primary-color);
        width: 85%;
    }

    .main-topbar{
        height: 70px;
        width: calc( 100% - 70px );
    }

    footer .right{
        display: flex;
        flex-direction: column;
    }

}