*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

}

/*Inizio regole renerali*/
/*Fine regole renerali*/


/*Inizio Main*/
/*Fine Main*/

/*Inizio footer*/
/*Fine footer*/





/*Media*/